@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>For additional information.</p>
<p>@ViewData["Professor"] <a href="http://www.uol.com.br">EducandoWeb</a></p>
